# Python
__pycache__/
*.pyc
.venv/
venv/

# C++ / CMake
build/
*.o
*.so
*.a
*.out

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage reports
client/coverage.xml
client/.coverage
client/htmlcov/

# C++ Coverage
server/build/*.info
server/build/*.gcda
server/build/*.gcno
server/build/CMakeFiles/**/*.gcda
server/build/CMakeFiles/**/*.gcno
